.header {
    background-color: #181C23;
    color: white;
}

.container {
    max-width: 1240px;
    padding: 0 2rem;
    margin: 0 auto;

    div:first-child {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    div:last-child {
        display: flex;
        align-items: center;
        gap: 2rem;

        // Fazer com que os cards fiquem na metade da linha do header.
        transform: translateY(50%);
    }
}